<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <div class="emptydiv">&nbsp;</div>
    <!--video autoplay="" loop="" style="position:absolute; top:0; left:635px; width:100%; height:100%;"><source src="salsaritasScn3Drinks2.ogv" /> <source src="http://vi-digital.com/lib/vicorporatemenus/salsaritasScn3Drinks2.ogv" /></video-->
    <style type="text/css">@font-face { font-family: "Veneer W01 Two"; src: url('http://vi-digital.com/lib/fonts/VeneerTwo.otf') format("opentype"); }
    @font-face {font-family: "Eight Zeta Bold";   src: url('http://vi-digital.com/lib/fonts/EightZetaBold.ttf') format("truetype");}
    body, html {
        background-color:#000000; color:#000;
        padding:0; margin:0;
    }    p{margin:0;padding:0;}
    #background{
        background-image:url('OrangeBG.png'), url('http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/OrangeBG.png');
        background-repeat:no-repeat;
        background-position:left center;
        height:1080px; width:100%;position: absolute;
    }
    td{ font-size:50px; font-family: "Eight Zeta Bold",Arial,sans-serif;}
    #divider{ position: absolute; background-color: black; height: 1080px; width: 25px; top: 0; left: 1280px;  }
    #logo,#forthecasa,#header-1,#header-2,#table1,#table2,#table3,#table4,.emptydiv {position: absolute;}
    #logo      {top:733px; left:240px;}
    #header-1  {top: 68px; left: 293px;}
    #header-2  {top: 585px; left: 65px; width: 260px;}
    #forthecasa{top:593px; left:740px; }

    #table1 { top: 242px; left: 60px; width: 560px; height: 304px; }
    #table2 { top: 242px; left: 672px; width: 560px; height: 297px; }

    #table3 { top: 704px; left: 50px; width: 576px; line-height: 61px;}
    #table3 > tbody tr td:nth-child(1) {width:58%;}
    #table3 > tbody tr td:nth-child(2) {width:21%; }
    #table3 > tbody tr td:nth-child(3) {width:21%;}

    #table4 { top: 704px; left: 668px; width: 584px; line-height: 41px;}
    #table4 > tbody tr:nth-child(2) td:nth-child(1) {width:20%;}
    #table4 > tbody tr:nth-child(2) td:nth-child(2) {width:19%; }
    #table4 > tbody tr:nth-child(2) td:nth-child(3) {width:20%;}
    #table4 > tbody tr:nth-child(2) td:nth-child(4) {width:1%;}
    #table4 > tbody tr:nth-child(2) td:nth-child(5) {width:19%;}
    #table4 > tbody tr:nth-child(2) td:nth-child(6) {width:19%;}

    .font1-xs   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 27px;}
    .font1-sm   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 36px;}
    .font1-md   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 46px;}
    .font1-lg   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 58px;}
    .font2-sm   { font-size: 36px;}
    .center {text-align: center;}
    .right {text-align:right;}
    </style>
    <div contenteditable="false" id="background">&nbsp;</div>

    <div id="divider">&nbsp;</div>
    <!--<img id="logo" onerror="this.src='http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/SAL.LogoGreen.png';" src="SAL.LogoGreen.png" /> -->
    <img id="forthecasa" onerror="this.src='http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/FortheCasa.png';" src="FortheCasa.png" />
    <img id="header-1" onerror="this.src='http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/SnacksnSides.png';" src="SnacksnSides.png" /> <img id="header-2" onerror="this.src='http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/Drinks.png';" src="Drinks.png" />
    <table id="table1">
        <tbody>
        <tr>
            <td><span class="font1-md">CHIPS &amp; QUESO</span></td>
            <td class="right">3.19</td>
        </tr>
        <tr>
            <td><span class="font1-md">CHIPS &amp; HOUSE MADE SALSA</span></td>
            <td class="right">2.19</td>
        </tr>
        <tr>
            <td><span class="font1-md">CHIPS &amp; HAND MASHED GUAC</span></td>
            <td class="right">3.19</td>
        </tr>
        <tr>
            <td><span class="font1-md">RICE &amp; BEANS</span></td>
            <td class="right">2.19</td>
        </tr>
        </tbody>
    </table>

    <table id="table2">
        <tbody>
        <tr>
            <td><span class="font1-md">1 TACO</span></td>
            <td class="right">2.49</td>
        </tr>
        <tr>
            <td><span class="font1-md">3 POQUITOS</span></td>
            <td class="right">1.69</td>
        </tr>
        <tr>
            <td><span class="font1-md">EXTRA QUESO OR GUAC</span></td>
            <td class="right">1.50</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="right">&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <table id="table3">
        <tbody>
        <tr>
            <td class="font1-sm">FOUNTAIN DRINKS</td>
            <td class="right font2-sm">2.19</td>
            <td class="right font2-sm">2.39</td>
        </tr>
        <tr>
            <td class="font1-sm">ICED TEA</td>
            <td class="right font2-sm">2.19</td>
            <td class="right font2-sm">2.39</td>
        </tr>
        <tr>
            <td class="font1-sm">Bottled DrinkS</td>
            <td class="right font2-sm">&nbsp;</td>
            <td class="right font2-sm">1.99</td>
        </tr>
        <tr>
            <td class="font1-sm">&nbsp;</td>
            <td class="right">&nbsp;</td>
            <td class="right">&nbsp;</td>
        </tr>
        <tr>
            <td class="font1-sm">&nbsp;</td>
            <td class="right">&nbsp;</td>
            <td class="right">&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <table id="table4">
        <tbody>
        <tr>
            <td class="center font1-sm" colspan="3">Fiesta Pack</td>
            <td class="center font1-sm">&nbsp;</td>
            <td class="center font1-sm" colspan="2">Seasoned Chips</td>
        </tr>
        <tr>
            <td class="center font2-sm">29.99</td>
            <td class="center font1-xs">deluxe</td>
            <td class="center font2-sm">39.99</td>
            <td class="center font2-sm">&nbsp;</td>
            <td class="center font2-sm">1.99</td>
            <td class="center font2-sm">5.99</td>
        </tr>
        <tr>
            <td colspan="6" style="line-height: 19px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="center font1-sm center" colspan="3">fresh house-made salsa</td>
            <td class="center font1-sm">&nbsp;</td>
            <td class="center font1-sm center" colspan="2">craveable queso</td>
        </tr>
        <tr>
            <td colspan="3">
                <table width="100%">
                    <tr>
                        <td class="center font2-sm" width="50%">4.29</td>
                        <td class="center font2-sm" width="50%">6.99</td>
                    </tr>
                </table>
            </td>
            <td class="center font2-sm">&nbsp;</td>
            <td class="center font2-sm">6.99</td>
            <td class="center font2-sm">9.99</td>
        </tr>
        </tbody>
    </table>
    <!-- end fix --></div>
