
@font-face {font-family: "EurostileExt2";src: url("../fonts/EurostileExt2.ttf");}
/** {font-family:'Courier New', Courier, monospace;}*/
* {font-family:"EurostileExt2", sans-serif;box-sizing: border-box;}
body{background: black url("../img/space.jpg") no-repeat fixed left center !important;
    background-size: cover;}
#viheader{
    line-height:1;
    position: fixed;
    right: 0;
    width: 320px;
    margin: 0 auto;
    opacity:0.5;
    padding:0;
    font-size:32px;
    animation-duration: 3s;
    animation-name: slidein;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    cursor:default;
    z-index:-1000;
}
@keyframes slidein {
    from {margin-right: 100%;width: 100%;}
    to {margin-right: 0; width: 320px;}
}
.f-nova {font-family: 'EurostileExt2', sans-serif;}
.f-stations {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    background-color:#000022;
}
.btn-xxs, .btn-group-xxs > .btn {
    padding: 1px 2px;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 3px;
}
.btncheck{
    color: transparent;
    background-color: transparent;
    border: 1px solid #464545;

}
.btncheck:hover, .btncheck:focus, .btncheck.focus{
    color: transparent;
    background-color: transparent;
}
.btncheck:active, .btncheck.active, .open>.dropdown-toggle.btncheck{
    color: #000000;
    background-color: #43bb71;
    border-color: #6bb263;
}

.icon_home{
    border-radius:         50%;
    -moz-border-radius:    50%;
    -webkit-border-radius: 50%;
    border: 3px solid white;
    white-space: nowrap;
    display:inline-block;
    padding: 1px 4px;
    font-size: 16px;
    background: rgb(35, 35, 35); /* The Fallback */
    background: rgba(35, 35, 35, 0);
    width: 30px;height:30px;
}

.locselect {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 2px;
    width: auto;
    height: auto;
    color: #49acff;
    font-size: 14px;
}
.locselect:hover {
    color: #f6f6f6;
    -webkit-transform: scaleX(1.04);
    -ms-transform: scaleX(1.04);
    transform: scaleX(1.04);
    transition:all 0.2s ease;
}
.menuitems {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color:#000022;
    border-radius:          0 21px 21px 0;
    -moz-border-radius:     0 21px 21px 0;
    -webkit-border-radius:  0 21px 21px 0;
    border: 0px solid #000000;
    padding: 1px 8px;
}
.itemz{opacity:.6; width: 50%;}
@media screen and (max-width:499px){
    .itemz{width:94%;}
}
@media screen and (min-width:500px) and (max-width:749px){
    .itemz{width:70%;}
}
@media screen and (min-width:750px){
    .itemz{width:50%;}
}
#successlinkdiv{
    line-height:10px;
    opacity:.7;
    padding:5px;
    width: 80%;
    float:left;
    color: #FFF;
    background-color: #007d5c;
    margin-bottom: 0;
    /*border: 1px solid #00ffbd;*/
    border-radius: 4px;
    word-break: break-all !important;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
}
#successlink{
    font-size:11px;
    font-family: 'Courier New', Courier, monospace !important;
    color:#00FFB7 !important;
    text-decoration: underline;
}
#Input{
    margin-top: 38px;
}
#inputarea{
    background-color: #714949;
    color: #FDC81C;
}
.stationcomments{
    background-color: transparent;
    border: 1px solid #21658b;
    border-radius: 4px;
    height:17px;
    min-width:30px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    color:#3dbaff;
}
#JsOutput>pre {
    height: 100px;
    max-height: 100px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}
